.navbar{
    background:#0B1120;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 40px;

    border-bottom:1px solid #22314D;

    position:sticky;

    top:0;

    z-index:1000;
}

.nav-logo{

    font-family:var(--display);

    color:white;

    font-size:1.7rem;

    letter-spacing:3px;

    cursor:pointer;
}

.nav-links{

    display:flex;

    gap:18px;
}

.nav-links button{

    background:none;

    border:none;

    color:#C6D1E4;

    font-family:var(--display);

    cursor:pointer;

    font-size:.9rem;

    transition:.25s;
}

.nav-links button:hover{

    color:#4F8CFF;
}

.active{

    color:#4F8CFF !important;
}